*~
*stackdump
Build
Makefile.PL
MYMETA.json
MYMETA.yml
META.json
META.yml
Makefile
_build
blib
pm_to_blib
yote.pid
Yote*gz
*.bak
yote_root/html/js/local.js
lib/Yote/ConfigData.pm
yote_root/html/cc
yote_root/html/madyote
yote_root/html/se
