body { 
    margin-top:90px; 
    background-color: rgb(14, 10, 29);
    background-image: url(../se_starback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section { padding-left:04px; }
.main_div { width:900px; 
	    margin:auto; 
	  }

.header { position:fixed; top:0px; left:0px; height:80px; margin:auto; width:100%; margin-right:40px; color:white; background-color:black; vertical-align:middle; }
.login  { float:right; margin-right:15px; padding-right:15px; display:inline-block; vertical-align:middle; height:100%; }
table { text-align: center;  }

.column { 
    display:inline-block; 
    top:0px; 
    vertical-align: top 
}

.gametable { text-align: center; }
.splash { 
    background-color: wheat; 
}
.even-row .even-col { background-color:AD9CD5 }
.odd-row  .even-col { background-color:B7ABD5  }

.even-row .odd-col  { background-color:9CA9D4  }
.odd-row  .odd-col  { background-color:ABB4D4}
#canvas {background-color:rgba(80,140,200,0.6);}
.core { 
    width: 100% 
}
.panel { background-color:rgba(80,140,200,0.6);
	 margin:5px;
	 padding:5px;
       }
#lobby_div {
    width: 430px;
}
#lobby_chatter_div {
    width: 455px;
    margin-right:0px;
}
#cancel_new {
    float:right
}