<groups>
 <group ring>
  exclusion_flags 0
  <sector A>
   outbound_links 1
  </sector A>
  <sector B>
   outbound_links 1
  </sector>
  <sector C>
   outbound_links 1
  </sector>
  <sector D>
   outbound_links 1
  </sector>
  <sector E>
   outbound_links 1
  </sector>
  <sector F>
   outbound_links 1
  </sector>
  internal_link A B
  internal_link B C
  internal_link C D
  internal_link D E
  internal_link E F
  internal_link F A
 </group>
 <group dia1>
  exclusion_flags 0
  <sector A>
  </sector A>
  <sector B>
   outbound_links 1
  </sector>
  <sector C>
   outbound_links 1
  </sector>
  <sector D>
   outbound_links 1
  </sector>
  internal_link A B
  internal_link A C
  internal_link A D
  internal_link B C
  internal_link B D
  internal_link C D
 </group>
 <group line2>
  exclusion_flags 0
  <sector A>
   outbound_links 2
  </sector A>
  <sector B>
  </sector>
  <sector C>
   outbound_links 2
  </sector>
  internal_link A B
  internal_link B C
 </group>
 <group tri1>
  exclusion_flags 0
  <sector A>
   outbound_links 1
  </sector A>
  <sector B>
   outbound_links 1
  </sector>
  <sector C>
   outbound_links 1
  </sector>
  internal_link A B
  internal_link A C
  internal_link B C
 </group>
 <group tri2>
  exclusion_flags 0
  <sector A>
   outbound_links 2
  </sector A>
  <sector B>
   outbound_links 2
  </sector>
  <sector C>
   outbound_links 2
  </sector>
  internal_link A B
  internal_link A C
  internal_link B C
 </group>
 <group mouse2>
  exclusion_flags 0
  <sector A>
   outbound_links 2
  </sector A>
  <sector B>
  </sector>
  <sector C>
  </sector>
  internal_link A B
  internal_link A C
 </group>
 <group end2>
  exclusion_flags 0
  <sector A>
   outbound_links 2
  </sector A>
  <sector B>
  </sector>
  internal_link A B
 </group>
</groups>
